html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

body { font:100%/1.5 sans-serif; *font-size:normal; }

select, input, textarea, button { font:99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*
 * minimal base styles
 */

body, select, input, textarea {
  color: #444;
}

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre {
  padding: 15px;

  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/*
 * Non-semantic helper classes
 */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: Kevin Finlayson
 */

body {
  background: #fff url(../graphics/bg.jpg) repeat center 2px;
  font-size: 100%;
/*  -webkit-text-size-adjust: none;*/
  color: #869da4;
  font-family: "proxima-nova-1", "proxima-nova-2", "helevetica neue", helvetica, arial;
  text-shadow: 0px -1px 1px rgba(0,0,0,1);
}

h2, h3 {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, times, "times new roman", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  color: #c9d4d7;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  text-align: center;
  width: 810px;
  margin: 0px auto 40px auto;
  text-shadow: 0px -1px 3px rgba(0,0,0,1);
}

h3 {
  font-size: 1.125em;
}

a, a:visited {
  color: #37a7da;
  text-decoration: none;
}

ul, ol {
  margin-left: 0px;
}

ul {
  list-style-type: none;
}

ul, img, p {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/*
structure
*/

#container {
  margin: 0px auto;
  background: transparent url(../graphics/container-bg.jpg) no-repeat center top;
  width: 1020px;
}

header {
  height: auto;
  min-height: 330px;
}

section {
  margin-bottom: 60px;
}

/*
global
*/

.column {
  float: left;
  margin-left: 40px;
}

.medium .half {
  width: 385px;
}

.first, #contact li.first {
  margin-left: 0px;
}

.medium {
  width: 810px;
  padding: 0px 85px;
}

.css-columns {
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.two-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.three-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

/*
header
*/

.logo a {
  width: 300px;
  height: 330px;
  text-indent: -999em;
  margin: 0px auto;
  background: transparent url(../graphics/logo.png) no-repeat center center;
  display: block;
}

/*
intro
*/

#strapline {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, times, "times new roman", sans-serif;
  font-size: 3em;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px -1px 3px rgba(0,0,0,0.75);
  color: #c9d4d7;
}

#strapline a {
  color: #fff;
}

/*
slideshow
*/

#slideshow-container {
  position: relative;
  width: 954px;
  padding: 13px;
  min-height: 632px;
  height: auto;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #0c0d0e url(../graphics/slideshow-bg.png) repeat top center;
  -webkit-box-shadow: 0px 1px 2px rgba(255,255,255,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(255,255,255,0.1);
  box-shadow: 0px 1px 2px rgba(255,255,255,0.1);
  margin: 0px 20px 60px 20px;
}

#slideshow-container.thumb-display {
  padding: 16px 4px 0px 16px;
  width: 960px;
}

#slideshow {
  width: 954px;
  height: 770px;
  float: left;
  filter:alpha(opacity=0);
  opacity: 0;
  display: none;
}

.slide {
  width: 954px;
}

.slide img {
  width: 940px;
  height: 770px;
  padding: 7px;
}

.no-js #slideshow {
  filter:alpha(opacity=100);
  opacity: 1;
}

#slide-info {
  width: 980px;
  height: auto;
  min-height: 60px;
  text-align: center;
  padding: 10px 10px 20px;
  font-size: 0.875em;
  display: none;
}

#slide-info-content {
  width: 470px;
  padding: 0px 255px;
}

.slide-info {
  display: none;
}

.slide img.slide-overlay {
  float: none;
  display: none;
  padding: 0px;
  z-index: 1;
  width: 954px;
  height: 784px;
  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.thumb {
  margin: 0px 12px 12px 0px;
  width: 308px;
  height: auto;
  min-height: 252px;
  text-align: center;
  float: left;
  position: relative;
  display: block;
}

.thumb img {
  width: 300px;
  height: 244px;
  z-index: 0;
  float: left;
  padding: 4px;
  margin-bottom: 10px;
}

.thumb img.thumb-overlay {
  float: none;
  padding: 0px;
  z-index: 1;
  width: 308px;
  height: 252px;
  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.thumb p {
  display: none;
}

.thumb h3 {
  float: left;
  width: 308px;
  line-height: 1.1;
  text-shadow: 0px -1px 2px rgba(0,0,0,0.75);
  font-size: 1em;
  color: #869da4;
  margin-bottom: 14px;
}

.visit {
  padding: 10px;
  margin-bottom: 10px;
  display: none;
}

a.visit-button, a.visit-button:visited {
  color: #fff;
  font-size: 0.875em;
  background-color: #37a7da;
  padding: 10px 20px;
  line-height: 1em;
  height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  font-weight: 700;
  cursor: pointer;
  text-shadow: 1px -1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,1);
  box-shadow: 0px 2px 10px rgba(0,0,0,1);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #54b4df), color-stop(100%, #2081ad));
  background-image:-moz-linear-gradient(top, #54b4df 0%, #2081ad 100%);
  background-image:linear-gradient(top, #54b4df 0%, #2081ad 100%);
}

#top-close {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2000;
  display: block;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #66bfec;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: none;
  filter:alpha(opacity=0);
  opacity: 0;
}

#previous, #next {
  display: none;
  position: absolute;
  top: 20px;
  background: transparent;
  z-index: 1000;
  width: 470px;
  height: 824px;
  filter:alpha(opacity=0);
  opacity: 0;
}

#previous span, #next span {
  position: absolute;
  display: block;
  height: 80px;
  width: 45px;
  top: 365px;
  text-indent: -999em;
  background-color: #0c0d0e;
  background-color: rgba(12,13,14, 0.5);
  z-index: 1001;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  transition-delay: .1s;
}

#previous {
  left: 20px;
}

#next {
  right: 20px;
}

#previous span {
  left: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(../graphics/previous.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#next span {
  right: 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url(../graphics/next.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#previous:hover span, #previous:focus span, #previous:active span, #next:hover span, #next:focus span, #next:active span {
  background-color: #66bfec;
}

#beliefs li {
  margin-bottom: 20px;
  padding-left: 60px;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;

}

#beliefs li span {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", georgia, times, "times new roman", sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-weight: 700;
  display: block;
  background-color: #37a7da;
  color: #fff;
  font-size: 1.125em;
  line-height: 2.222;
  height: 40px;
  width: 40px;
  text-align: center;
  float: left;
  margin-left: -60px;
  -webkit-font-smoothing: antialiased;
  text-shadow: none;
  letter-spacing: 0.1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  font-weight: 700;
}

#beliefs li strong {
  color: #c9d4d7;
}

/*
contact
*/

#contact li {
  float: left;
  margin-left: 40px;
}

#business-card {
/*  background: transparent url(../graphics/business-card.png) no-repeat center center;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;
  border: 1px solid #fff;
  padding: 50px 0px 0px 0px;
  text-shadow: none;
  width: 383px;
  text-align: center;
  height: 150px;
  font-size: 0.875em;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eee), color-stop(100%, #bbb));
  background-image:-moz-linear-gradient(top, #eee 0%, #bbb 100%);
  background-image:linear-gradient(top, #eee 0%, #bbb 100%);
  color: #2b2f33;
  line-height: 1.3;
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -transform: rotate(2deg);

/*  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s;
*/
/*  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s; */
  -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 4px 10px rgba(0,0,0,1);
  box-shadow: 0px 4px 10px rgba(0,0,0,1);
*/}

#business-card:hover {
/*  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -transform: rotate(0deg);
*/}

#business-card p, #business-card h3 {
  margin-bottom: 10px;

}

#business-card h3 {
  font-family: "proxima-nova-1", "proxima-nova-2", "helevetica neue", helvetica, arial;
  font-weight: 400;
  font-size: 1.25em;
  color: #2b2f33;
}

#business-card a, #business-card a:visited {
  color: #2b2f33;
/*  text-decoration: underline;*/
}

/*
footer
*/

footer {
  clear: left;
  font-size: 0.875em;
  width: 940px;
  padding: 0px 20px;
  margin-bottom: 40px;
  height: auto;
  min-height: 40px;
  text-align: center;
  color: #546970;
}

footer p {
}

footer a, footer a:visited {
  color: #546970;
  text-decoration: underline;
}

footer a:hover, footer a:focus {
  color: #869da4;

}

/*#elsewhere {
  width: 7em;
  margin: 0px auto;
}               */

/*#elsewhere a, #elsewhere a:visited {
  width: 2.2em;
  float: left;
  height: 2.2em;
  display: block;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  background-color: #637b83;
}

#elsewhere a:hover, #elsewhere a:focus {
  background-color: #7c959c;
}           */

/*#elsewhere a img {
  height: 1.6em;
  width: 1.6em;
  margin: 0.3em;
}

#twitter {
  margin-right: 1em;
}    */


/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

